table.disp { width: 50%; margin-left: auto; margin-right: auto; }
td.pic { width: 20%; max-width: 250px; max-height:250px; border: none; }
td.irs { height: 35px; }
td.extra { border: none; height: 12px; }
td { border: 1px solid black; }